<div class="titles">
  <p class="title">Seja bem vindo a nossa <b>plataforma</b> !</p>
</div>

<div class="container">
<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col-9">
      <p>Novo por aqui ?</p><p> Ou precisa atualizar informações ?</p>
      <p><button class="btn btn-lg btn-primary" style="background-color: #1877AC; padding: 8px;" [routerLink]="['/update']">Criar/Atualizar</button></p>

      <p>Para visualizar a lista de usuários em nossa plataforma</p>
      <p><button class="btn btn-lg btn-primary" style="background-color: #1877AC; padding: 8px;" [routerLink]="['/list']">Clique Aqui</button></p>
    </div>
    <div class="col-3">
      <p>Deseja sair da aplicação ?</p>
      <p><button class="btn btn-lg btn-outline-primary" style="border: none; padding: 8px;" [routerLink]="['/']">Clique Aqui</button></p>
    </div>
  </div>
  </div>
</div>
<!-- <div class="users">
  <p>Novo por aqui ?</p><p> Ou precisa atualizar informações ?</p>
  <p><button class="btn btn-lg btn-primary" [routerLink]="['/update']">Criar/Atualizar</button></p>

  <p>Para visualizar a lista de usuários em nossa plataforma</p>
  <p><button class="btn btn-lg btn-primary" [routerLink]="['/list']">Clique Aqui</button></p>

  <p>Deseja sair da aplicação ?</p>
  <p><button class="btn btn-lg btn-primary" [routerLink]="['/']">Clique Aqui</button></p>

</div> -->
