
nav {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  display: flexbox;
  align-items: right;
  text-align: right;
  justify-content: right;
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: #F2F2F2;

}

li {
  display: inline-block;
  padding: 20px;

}

li:hover {
  text-decoration: underline #1877AC 3px;
  text-underline-position: under;
  transition: 0.5s;

}

a > .nav-link {
  text-decoration: none;
  color: #F2F2F2;
}

