
/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


/* MAIN FOOTER */

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin: 2em 0em;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;

}

footer a:hover {
  color: #e65c00;
  text-decoration: none;
}

.footer-middle {
  /* padding-top: 2em; */
  padding: 2em 0em;
  height: 10em;
  color: #F2F2F2
}

h4 {
  margin-bottom: 0.2em;
  font-size: 20px;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.iconFacebook:hover {
  background-color: #3B5998;
}

.social-network a.iconLinkedin:hover {
  background-color: #007bb7;
}


.social-network a.iconInstagram:hover {
  background-color:#FF2A7B;
}

.social-network a.iconFacebook:hover i,
.social-network a.iconLinkedin:hover i,
.social-network a.iconInstagram:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}


/* COPYRIGHT */

.copy {
  font-size: 12px;
  margin-top: 6em;
  padding: 15px;
  border-top: 1px solid #FFFFFF;
}

.copy {
  /* display: flex; */
  background-color: #f2f2f2;
  /* background-color:#5EC0F7; */
  /* height: 0.5em; */
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

.copy > div > p {
  text-align: left;
}

p {
  vertical-align: middle;
  margin-left: 1em;
  color: #31323B;
}


/* RESPONSIVE */

@media screen and (max-width: 700px) {

  .footer-pad {
    text-align: center;
  }

  h4 {
    margin: 20px 0;
  }

  .follow {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

ul.social-network {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

  }

}
