


<div class="d-flex justify-content-around">
<div class="container">
<div class="row">
  <div class="card-deck">
    <div class="card border-0">
      <img class="card-img-top" src="./../assets/images/logoods.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title mb-3">Design</h5>
        <hr>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="card-text mb-2"><small class="text-muted"><a href="#">Know More</a></small></p>
      </div>
    </div>
    <div class="card border-0">
      <img class="card-img-top" src="./../assets/images/logoods.png" width="100px" alt="logo">
      <div class="card-body">
        <h5 class="card-title mb-3">Clean Code</h5>
        <hr>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="card-text mb-2"><small class="text-muted"><a href="#">Know More</a></small></p>
      </div>
    </div>
    <div class="card border-0">
      <img class="card-img-top" src="./../assets/images/logoods.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title mb-3">Free Support</h5>
        <hr>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="card-text mb-2"><small class="text-muted"><a href="#">Know More</a></small></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="card-deck">
    <div class="card border-0">
      <img class="card-img-top" src="./../assets/images/logoods.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title mb-3">Best Ideas</h5>
        <hr>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="card-text mb-2"><small class="text-muted"><a href="#">Know More</a></small></p>
      </div>
    </div>
    <div class="card border-0">
      <img class="card-img-top" src="./../assets/images/logoods.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title mb-3">Group</h5>
        <hr>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="card-text mb-2"><small class="text-muted"><a href="#">Know More</a></small></p>
      </div>
    </div>
    <div class="card border-0">
      <img class="card-img-top" src="./../assets/images/logoods.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title mb-3">Our Clients</h5>
        <hr>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="card-text mb-2"><small class="text-muted"><a href="#">Know More</a></small></p>
      </div>
    </div>
  </div>
  </div>
</div> <!-- container -->
</div> <!-- d-flex content around-->

<div class="container" >
  <div class="d-flex justify-content-around">
  <div class="row">
    <div class="col-7">
	<img src="https://images.ctfassets.net/2d5q1td6cyxq/6w6lw5fNYiuwHJTqbnSN8C/e575c8658292461ed7328c56a3d55894/work-at-square-invent-today-shape-tomorrow.png?w=1200&h=630&fm=jpg&q=90&fit=thumb"
  class="rounded float-left" id="card03" alt="...">
    </div>
    <div class="col-sm-5 mt-1">
      <div class="subtitle">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>
  </div> <!-- content-around -->
</div>







