

<div class="d-flex justify-content-around">
<div class="card text-center">
  <div class="card-header">
   Entre em contato !
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label mb-2">Nome</label>
      <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Nome Completo">
    </div>
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label mb-2">Endereço de Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com.br">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label mb-2">Digite seu comentário</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
    <a href="#" class="btn btn-primary"  style="background-color: #1877AC; padding: 8px;">Enviar</a>
  </div>
</div>
</div> <!-- content around -->
